@import './assets/variables';

.App {
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #background-video {
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    top:0;
    position: fixed;
    z-index: -1;
    object-fit: cover;
  }
  main {
    font-family: $font-title;
  }
  .landing {
    min-height: 100vh;
    width: 100%;
    .big-text {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-family: $font-title;
    }
  }
  nav {
    min-height: 10vh;
    .nav-links {
      display: flex;
      list-style: none;
      li {
       padding-left: 10rem;
       font-size: 1.2rem;
     }
    }
  }
  .intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .intro-text {
      color: white;
      font-family: $font-title;
      font-size: 3rem;
    }
  }
  .slider {
    background: rgb(0, 39, 7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  .hide {
    background: black;
    overflow: hidden;
    span {
      transform: translateY(100%);
      display: inline-block;
    }
  }
  
  

  .dispo-button {
    align-self: center;
    color: white;
    text-shadow: 2px 1px $primary-color;
    font-size: 2.5rem;
    border: 1px white solid;
    width: fit-content;
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 1rem;

    cursor: pointer;
    outline: none;
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
