@import './assets/variables';

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  width: 100% !important;
  overflow: scroll;
}
body {
  background-color: white;
  font: 1.6rem Helvetica;
  height: 100%;
  margin: 0;
  width: 100% !important;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

.title {
  font-family: $font-title;
  text-transform: uppercase;
  // text-shadow: 2px 2px rgb(0, 36, 0);
  font-weight: 500;
  color: white;
}

.button {
  background-color: transparent;
  padding: 1rem;
  font-size: 1.6rem;
  color: $primary-color;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0 rgb(197, 197, 197);
  border: 1px solid $primary-color;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}