@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700;900&family=Shippori+Mincho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Poiret+One&display=swap');


$primary-color: rgb(9, 58, 9); ;
$secondary-color: white;
$color-contrast: #f8c740;
$font-title: 'Raleway', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-round: 'Poiret One', cursive;
$font-contrail: 'Contrail One', cursive;