@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700;900&family=Shippori+Mincho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Poiret+One&display=swap');

$primary-color: rgb(9, 58, 9); ;
$secondary-color: white;
$font-title: 'Raleway', sans-serif;
$font-text: 'Shippori Mincho', serif;
$font-round: 'Poiret One', cursive;
$font-contrail: 'Contrail One', cursive;