@import '../assets/variables.scss';

#contact {
  width: 100%;
  .title {
    color: black;
    margin-top: 5rem;
  }
  .contact {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .title-button {
      float: right;
    }
  }
  .map {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    .address {
      font-family: $font-title;
      color: $primary-color;
      margin: 2rem 5rem;
      p{
        color: gray;
      }
    }
    img {
      width: 50rem;
    }
  }
  .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    .icon {
      color: $primary-color;
      transform: scale(3);
      margin: 2rem 3rem;
    }
    .ig-img {
      max-width: 100vw;
      width: 70rem;
    }
  }
  #contact-form {
    display: flex;
    flex-direction: column;
    margin: 5rem 4rem; 
    width: 40rem;
    justify-content: center;
    .form-input {
      color: white;
      background-color: transparent;
      height: 5em;
      outline: none;
      font-size: 1rem;
      font-family: $font-title;
      border-bottom: 1px 0 0 0 solid $primary-color;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0px;
      .msg {
        overflow: visible;
        height: 3rem;
        font-size: 1.3rem;
        width:auto;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .contact {
      margin: 2rem;
    }
    .ig-img {
        max-width: 100vw;
        width: 100rem;
    }
  }

  @media screen and (max-width: 767px) {
    #contact {
      .map {
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: 479px) {

  }
}

/* SEND BUTTON */
.box-1 {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: transparent;
  color: $primary-color;
  text-decoration: none;
  outline: none;
  border: 1px solid;
  margin-top: 3em;
  line-height: 40px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  padding: 1px;
  &:hover {
    border: 2px solid;
    font-style: italic;
  }
}


