@import '../assets/_variables.scss';

#about {
  height: 100vh;
  overflow: scroll;
  .title {
    float: left;
    margin-left: 10rem;
    margin-top: 5rem;
    color: $primary-color;
    letter-spacing: 0.2em;
  }
  .about-container{
    display: flex;
    flex-flow: wrap;
    margin: 15rem 20rem;
    .about-content {
      display: flex;
      margin: 5rem;
      .about-text {
        text-align: left;
        margin: 2rem 5rem;
      }
      .about-img {
        width: 30rem;
        height: auto;
      }
      p {
        font-family: $font-text;
        margin: 2rem 0rem;
        text-align: justify;
      }
    }
  }
  }

