@import '../assets/variables';


.title {
  margin-top: 5rem;
}

.riviere {
  display: flex;
  flex-direction: column;
  align-items: center;
  .river-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem;
    width: 50%;
    text-align: justify;
  }
  .river-image {
    margin: 2rem 0rem;
  }

  .wave-container {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    bottom: 0;
    opacity: 0.8;
  }
}