@import '../assets/variables';

#activity {
  overflow: scroll;
  .activity {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-image-canoe{
        background: url('../assets/canoe.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
      }
      .nav-image-tube {
        background: url('../assets/tubing.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
      }
    .img-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 55rem;
      margin-right: 5rem;
      .activity-img {
        width: 100vw;
        height: 85vh;
      }
      .activity-title {
        color: white;
        font-size: 6rem;
        font-weight: bold;
        font-family: $font-contrail;
        text-shadow: 1px 1px rgb(141, 141, 141);
        cursor: pointer;

      }
    }
    .activity-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5rem;
      .canot-choice-list {
        display: flex;
        padding: 0;
        font-family: $font-title;
        font-size: 2rem;
        text-transform: uppercase;
        li {
          list-style: none;
          margin: 3rem;
        }
      }
      .activity-summary {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        padding: 2rem;
        color: black;
        font-family: $font-title;
        font-weight: 400;
        margin-bottom: 5rem;
        width: 100%;
      }
      .activity-container {
        margin-bottom: 4rem;
        display: flex;
        .activity-text-container {
          margin-left: 2rem;
          .activity-text {
            color: black;
            font-family: $font-text;
            font-size: 1.6rem;
            text-align: justify;
          }
        }
        .tube-map {
          width: 40rem;
          height: auto;
        }
      }
      .reserve {
        align-self: flex-end;
        margin-right: 10rem;
        margin-top: 2rem;
      }
    }
  }
  
}