@import '../assets/variables';

#activity {
  overflow: scroll;
  .activity {
      margin: 0rem 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    .img-text {
      position: relative;
      text-align: center;
      .activity-img {
        width: 100vw;
        height: 85vh;
      }
      .activity-title {
        position: absolute;
        bottom: 6rem;
        left: 45rem;
        font-size: 7rem;
        text-shadow: 3px 3px rgb(0, 65, 19);
        font-weight: bold;
        cursor: pointer;
      }
    }
    .activity-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 5rem;
      .activity-text {
        color: white;
        font-family: $font-text;
        font-size: 1.6rem;
        text-align: justify;
      }
      .know-more {
        background-color: transparent;
        border: white 1px solid;
        cursor: pointer;
        padding: 1rem;
        font-family: $font-title;
        color: white;
        text-transform: uppercase;
        margin: 2rem;
        outline: none;
      }
    }
  }
  
}