@import '../assets/variables';

.navbar-BG {
  background: url('https://images.unsplash.com/photo-1508193638397-1c4234db14d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
  background-size: cover;
  box-shadow: 0 2px 4px 0px #244000;
  opacity: 0.9;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15rem;
  .logo {
    height: 6rem;
    margin: 2rem 5rem;
    filter: invert(1);

  }
  .list-action {
    align-items: center;
    display: flex;
    color: white;
    list-style: none;
    margin: 0rem 3rem;
    padding: 0;
    .action-li {
      font-size: 1.5rem;
      margin: 0 1rem;
      text-transform: uppercase;
      padding: 1rem;
      font-family: $font-title;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      &:hover {
        border: 1px white solid;
        opacity: 0.7;
      }
      &:active {
        border: 1px white solid;
        opacity: 0.7;
      }
      &:visited {
        border: 1px white solid;
        opacity: 0.7;
      }
    }
  }
}