@import '../assets/variables';

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15rem;
  position: absolute;
  .logo {
    height: 6rem;
    margin: 2rem 7rem;
    filter: invert(1);

  }
  .list-action {
    align-items: center;
    display: flex;
    color: white;
    list-style: none;
    margin: 0rem 3rem;
    padding: 0;
    .action-li {
      font-size: 1.5rem;
      margin: 0 1rem;
      text-transform: uppercase;
      padding: 1rem;
      font-family: $font-title;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      &:hover {
        border: 1px white solid;
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    visibility: hidden;
    height: 0;
    width: 100%;
    .logo {
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    visibility: hidden;
    height: 0;
    .logo {
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    visibility: hidden;
    height: 0;
    .logo {
      margin: 1rem;
    }
  }
}